body {
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(25, 25, 26);

  background: linear-gradient(
    342deg,
    hsl(52.68, 100%, 83.92%) 0%,
    hsl(52.68, 100%, 83.92%) 1%,
    hsla(52.85, 97.91%, 83.95%, 0.992) 1%,
    hsla(52.85, 97.91%, 83.95%, 0.992) 2%,
    hsla(53.02, 95.8%, 83.98%, 0.984) 2%,
    hsla(53.02, 95.8%, 83.98%, 0.984) 3%,
    hsla(53.21, 93.68%, 84.01%, 0.976) 3%,
    hsla(53.21, 93.68%, 84.01%, 0.976) 4%,
    hsla(53.41, 91.55%, 84.04%, 0.968) 4%,
    hsla(53.41, 91.55%, 84.04%, 0.968) 5%,
    hsla(53.62, 89.4%, 84.07%, 0.961) 5%,
    hsla(53.62, 89.4%, 84.07%, 0.961) 6%,
    hsla(53.84, 87.24%, 84.09%, 0.953) 6%,
    hsla(53.84, 87.24%, 84.09%, 0.953) 7%,
    hsla(54.08, 85.07%, 84.11%, 0.945) 7%,
    hsla(54.08, 85.07%, 84.11%, 0.945) 8%,
    hsla(54.34, 82.88%, 84.13%, 0.937) 8%,
    hsla(54.34, 82.88%, 84.13%, 0.937) 9%,
    hsla(54.61, 80.68%, 84.15%, 0.929) 9%,
    hsla(54.61, 80.68%, 84.15%, 0.929) 10%,
    hsla(54.89, 78.47%, 84.17%, 0.921) 10%,
    hsla(54.89, 78.47%, 84.17%, 0.921) 11%,
    hsla(55.2, 76.26%, 84.19%, 0.913) 11%,
    hsla(55.2, 76.26%, 84.19%, 0.913) 12%,
    hsla(55.53, 74.03%, 84.2%, 0.905) 12%,
    hsla(55.53, 74.03%, 84.2%, 0.905) 13%,
    hsla(55.89, 71.79%, 84.21%, 0.898) 13%,
    hsla(55.89, 71.79%, 84.21%, 0.898) 14%,
    hsla(56.27, 69.55%, 84.22%, 0.89) 14%,
    hsla(56.27, 69.55%, 84.22%, 0.89) 15%,
    hsla(56.68, 67.29%, 84.23%, 0.882) 15%,
    hsla(56.68, 67.29%, 84.23%, 0.882) 16%,
    hsla(57.12, 65.03%, 84.24%, 0.874) 16%,
    hsla(57.12, 65.03%, 84.24%, 0.874) 17%,
    hsla(57.6, 62.76%, 84.25%, 0.866) 17%,
    hsla(57.6, 62.76%, 84.25%, 0.866) 18%,
    hsla(58.11, 60.49%, 84.25%, 0.858) 18%,
    hsla(58.11, 60.49%, 84.25%, 0.858) 19%,
    hsla(58.68, 58.21%, 84.26%, 0.85) 19%,
    hsla(58.68, 58.21%, 84.26%, 0.85) 20%,
    hsla(59.29, 55.92%, 84.26%, 0.842) 20%,
    hsla(59.29, 55.92%, 84.26%, 0.842) 21%,
    hsla(59.95, 53.63%, 84.26%, 0.835) 21%,
    hsla(59.95, 53.63%, 84.26%, 0.835) 22%,
    hsla(60.68, 52.23%, 84.35%, 0.827) 22%,
    hsla(60.68, 52.23%, 84.35%, 0.827) 23%,
    hsla(61.45, 50.87%, 84.44%, 0.819) 23%,
    hsla(61.45, 50.87%, 84.44%, 0.819) 24%,
    hsla(62.28, 49.5%, 84.54%, 0.811) 24%,
    hsla(62.28, 49.5%, 84.54%, 0.811) 25%,
    hsla(63.18, 48.12%, 84.63%, 0.803) 25%,
    hsla(63.18, 48.12%, 84.63%, 0.803) 26%,
    hsla(64.14, 46.72%, 84.73%, 0.795) 26%,
    hsla(64.14, 46.72%, 84.73%, 0.795) 27%,
    hsla(65.19, 45.3%, 84.82%, 0.787) 27%,
    hsla(65.19, 45.3%, 84.82%, 0.787) 28%,
    hsla(66.31, 43.87%, 84.91%, 0.779) 28%,
    hsla(66.31, 43.87%, 84.91%, 0.779) 29%,
    hsla(67.54, 42.42%, 85%, 0.772) 29%,
    hsla(67.54, 42.42%, 85%, 0.772) 30%,
    hsla(68.87, 40.95%, 85.09%, 0.764) 30%,
    hsla(68.87, 40.95%, 85.09%, 0.764) 31%,
    hsla(70.33, 39.47%, 85.18%, 0.756) 31%,
    hsla(70.33, 39.47%, 85.18%, 0.756) 32%,
    hsla(71.92, 37.97%, 85.26%, 0.748) 32%,
    hsla(71.92, 37.97%, 85.26%, 0.748) 33%,
    hsla(73.67, 36.46%, 85.35%, 0.74) 33%,
    hsla(73.67, 36.46%, 85.35%, 0.74) 34%,
    hsla(75.61, 34.93%, 85.44%, 0.732) 34%,
    hsla(75.61, 34.93%, 85.44%, 0.732) 35%,
    hsla(77.75, 33.38%, 85.52%, 0.724) 35%,
    hsla(77.75, 33.38%, 85.52%, 0.724) 36%,
    hsla(80.14, 31.82%, 85.61%, 0.716) 36%,
    hsla(80.14, 31.82%, 85.61%, 0.716) 37%,
    hsla(82.81, 30.24%, 85.69%, 0.708) 37%,
    hsla(82.81, 30.24%, 85.69%, 0.708) 38%,
    hsla(85.82, 28.65%, 85.77%, 0.701) 38%,
    hsla(85.82, 28.65%, 85.77%, 0.701) 39%,
    hsla(89.24, 27.03%, 85.85%, 0.693) 39%,
    hsla(89.24, 27.03%, 85.85%, 0.693) 40%,
    hsla(93.14, 25.41%, 85.93%, 0.685) 40%,
    hsla(93.14, 25.41%, 85.93%, 0.685) 41%,
    hsla(97.64, 23.76%, 86.01%, 0.677) 41%,
    hsla(97.64, 23.76%, 86.01%, 0.677) 42%,
    hsla(102.88, 22.1%, 86.09%, 0.669) 42%,
    hsla(102.88, 22.1%, 86.09%, 0.669) 43%,
    hsla(109.06, 20.42%, 86.17%, 0.661) 43%,
    hsla(109.06, 20.42%, 86.17%, 0.661) 44%,
    hsla(116.44, 18.72%, 86.25%, 0.653) 44%,
    hsla(116.44, 18.72%, 86.25%, 0.653) 45%,
    hsla(124.96, 18.27%, 86.12%, 0.645) 45%,
    hsla(124.96, 18.27%, 86.12%, 0.645) 46%,
    hsla(132.96, 18.71%, 85.83%, 0.638) 46%,
    hsla(132.96, 18.71%, 85.83%, 0.638) 47%,
    hsla(140.29, 19.13%, 85.54%, 0.63) 47%,
    hsla(140.29, 19.13%, 85.54%, 0.63) 48%,
    hsla(147.04, 19.55%, 85.25%, 0.622) 48%,
    hsla(147.04, 19.55%, 85.25%, 0.622) 49%,
    hsla(153.26, 19.95%, 84.96%, 0.614) 49%,
    hsla(153.26, 19.95%, 84.96%, 0.614) 50%,
    hsla(159.01, 20.34%, 84.67%, 0.606) 50%,
    hsla(159.01, 20.34%, 84.67%, 0.606) 51%,
    hsla(164.34, 20.72%, 84.38%, 0.598) 51%,
    hsla(164.34, 20.72%, 84.38%, 0.598) 52%,
    hsla(169.28, 21.09%, 84.08%, 0.59) 52%,
    hsla(169.28, 21.09%, 84.08%, 0.59) 53%,
    hsla(173.88, 21.45%, 83.79%, 0.582) 53%,
    hsla(173.88, 21.45%, 83.79%, 0.582) 54%,
    hsla(178.17, 21.8%, 83.49%, 0.575) 54%,
    hsla(178.17, 21.8%, 83.49%, 0.575) 55%,
    hsla(182.09, 23.13%, 83.33%, 0.567) 55%,
    hsla(182.09, 23.13%, 83.33%, 0.567) 56%,
    hsla(185.37, 25.25%, 83.27%, 0.559) 56%,
    hsla(185.37, 25.25%, 83.27%, 0.559) 57%,
    hsla(188.12, 27.36%, 83.22%, 0.551) 57%,
    hsla(188.12, 27.36%, 83.22%, 0.551) 58%,
    hsla(190.46, 29.45%, 83.16%, 0.543) 58%,
    hsla(190.46, 29.45%, 83.16%, 0.543) 59%,
    hsla(192.47, 31.53%, 83.1%, 0.535) 59%,
    hsla(192.47, 31.53%, 83.1%, 0.535) 60%,
    hsla(194.21, 33.59%, 83.04%, 0.527) 60%,
    hsla(194.21, 33.59%, 83.04%, 0.527) 61%,
    hsla(195.73, 35.64%, 82.97%, 0.519) 61%,
    hsla(195.73, 35.64%, 82.97%, 0.519) 62%,
    hsla(197.08, 37.68%, 82.91%, 0.512) 62%,
    hsla(197.08, 37.68%, 82.91%, 0.512) 63%,
    hsla(198.27, 39.7%, 82.84%, 0.504) 63%,
    hsla(198.27, 39.7%, 82.84%, 0.504) 64%,
    hsla(199.34, 41.7%, 82.77%, 0.496) 64%,
    hsla(199.34, 41.7%, 82.77%, 0.496) 65%,
    hsla(200.29, 43.69%, 82.7%, 0.488) 65%,
    hsla(200.29, 43.69%, 82.7%, 0.488) 66%,
    hsla(201.15, 45.66%, 82.63%, 0.48) 66%,
    hsla(201.15, 45.66%, 82.63%, 0.48) 67%,
    hsla(201.93, 47.61%, 82.55%, 0.472) 67%,
    hsla(201.93, 47.61%, 82.55%, 0.472) 68%,
    hsla(202.64, 49.55%, 82.47%, 0.464) 68%,
    hsla(202.64, 49.55%, 82.47%, 0.464) 69%,
    hsla(203.28, 51.47%, 82.4%, 0.456) 69%,
    hsla(203.28, 51.47%, 82.4%, 0.456) 70%,
    hsla(203.87, 53.38%, 82.32%, 0.448) 70%,
    hsla(203.87, 53.38%, 82.32%, 0.448) 71%,
    hsla(204.41, 55.26%, 82.23%, 0.441) 71%,
    hsla(204.41, 55.26%, 82.23%, 0.441) 72%,
    hsla(204.9, 57.13%, 82.15%, 0.433) 72%,
    hsla(204.9, 57.13%, 82.15%, 0.433) 73%,
    hsla(205.36, 58.98%, 82.06%, 0.425) 73%,
    hsla(205.36, 58.98%, 82.06%, 0.425) 74%,
    hsla(205.78, 60.81%, 81.98%, 0.417) 74%,
    hsla(205.78, 60.81%, 81.98%, 0.417) 75%,
    hsla(206.17, 62.62%, 81.89%, 0.409) 75%,
    hsla(206.17, 62.62%, 81.89%, 0.409) 76%,
    hsla(206.52, 64.41%, 81.79%, 0.401) 76%,
    hsla(206.52, 64.41%, 81.79%, 0.401) 77%,
    hsla(206.85, 66.19%, 81.7%, 0.393) 77%,
    hsla(206.85, 66.19%, 81.7%, 0.393) 78%,
    hsla(207.16, 67.94%, 81.6%, 0.385) 78%,
    hsla(207.16, 67.94%, 81.6%, 0.385) 79%,
    hsla(207.45, 69.67%, 81.5%, 0.378) 79%,
    hsla(207.45, 69.67%, 81.5%, 0.378) 80%,
    hsla(207.71, 71.39%, 81.4%, 0.37) 80%,
    hsla(207.71, 71.39%, 81.4%, 0.37) 81%,
    hsla(207.96, 73.08%, 81.3%, 0.362) 81%,
    hsla(207.96, 73.08%, 81.3%, 0.362) 82%,
    hsla(208.19, 74.76%, 81.19%, 0.354) 82%,
    hsla(208.19, 74.76%, 81.19%, 0.354) 83%,
    hsla(208.4, 76.41%, 81.09%, 0.346) 83%,
    hsla(208.4, 76.41%, 81.09%, 0.346) 84%,
    hsla(208.6, 78.05%, 80.98%, 0.338) 84%,
    hsla(208.6, 78.05%, 80.98%, 0.338) 85%,
    hsla(208.78, 79.66%, 80.87%, 0.33) 85%,
    hsla(208.78, 79.66%, 80.87%, 0.33) 86%,
    hsla(208.95, 81.25%, 80.75%, 0.322) 86%,
    hsla(208.95, 81.25%, 80.75%, 0.322) 87%,
    hsla(209.11, 82.82%, 80.63%, 0.315) 87%,
    hsla(209.11, 82.82%, 80.63%, 0.315) 88%,
    hsla(209.25, 84.37%, 80.51%, 0.307) 88%,
    hsla(209.25, 84.37%, 80.51%, 0.307) 89%,
    hsla(209.39, 85.9%, 80.39%, 0.299) 89%,
    hsla(209.39, 85.9%, 80.39%, 0.299) 90%,
    hsla(209.52, 87.41%, 80.27%, 0.291) 90%,
    hsla(209.52, 87.41%, 80.27%, 0.291) 91%,
    hsla(209.63, 88.9%, 80.14%, 0.283) 91%,
    hsla(209.63, 88.9%, 80.14%, 0.283) 92%,
    hsla(209.74, 90.36%, 80.01%, 0.275) 92%,
    hsla(209.74, 90.36%, 80.01%, 0.275) 93%,
    hsla(209.84, 91.8%, 79.88%, 0.267) 93%,
    hsla(209.84, 91.8%, 79.88%, 0.267) 94%,
    hsla(209.93, 93.23%, 79.74%, 0.259) 94%,
    hsla(209.93, 93.23%, 79.74%, 0.259) 95%,
    hsla(210.02, 94.62%, 79.6%, 0.252) 95%,
    hsla(210.02, 94.62%, 79.6%, 0.252) 96%,
    hsla(210.09, 96%, 79.46%, 0.244) 96%,
    hsla(210.09, 96%, 79.46%, 0.244) 97%,
    hsla(210.16, 97.36%, 79.32%, 0.236) 97%,
    hsla(210.16, 97.36%, 79.32%, 0.236) 98%,
    hsla(210.22, 98.69%, 79.17%, 0.228) 98%,
    hsla(210.22, 98.69%, 79.17%, 0.228) 99%,
    hsla(210.28, 100%, 79.02%, 0.22) 99%,
    hsla(210.28, 100%, 79.02%, 0.22) 100%
  );
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: sans-serif;
  font-size: 15px;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: 11px 11px 60px #9a9a9a, -11px -11px 60px #ffffff;
  width: 400px;
}

#sezione-iniziale section {
  padding: 20px;
  margin: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: 11px 11px 60px #9a9a9a, -11px -11px 60px #ffffff;
  width: 400px;
  transition: all 0.2s;
}

#sezione-iniziale section:hover {
  transform: scale(1.05);
}

td {
  text-align: center;
}

.td-1 {
  text-align: left;
}

.table-1 {
  margin-top: 225px;
  width: 100%;
}

.tabella-contatti {
  text-align: left;
  width: 100%;
}

.logo {
  height: 400px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.logo-social {
  width: 70px;
  margin-right: 15px;
  margin-left: 15px;
}

.logo-section {
  height: 400px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1px;
  margin: 20px;
  background-color: #fff;
  border-radius: 100000000px;
  box-shadow: 11px 11px 60px #9a9a9a, -11px -11px 60px #ffffff;
}

.title-section {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 11px 11px 60px #9a9a9a, -11px -11px 60px #ffffff;
}

.sezione-progetti {
  padding: 15px;
  margin: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: 11px 11px 60px #9a9a9a, -11px -11px 60px #ffffff;
  width: 300px;
  height: 300px;
  transition: all 0.2s;
}

.sezione-progetti:hover {
  transform: scale(1.04) rotate(1deg);
}

.sezioni {
  padding: 20px;
  margin: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: 11px 11px 60px #9a9a9a, -11px -11px 60px #ffffff;
  width: 90%;
}

.button-1 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: rgb(221, 58, 17);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.button-1:hover {
  background-color: rgb(224, 237, 244);
  box-shadow: 0px 15px 20px rgba(221, 58, 17);
  color: black;
  transform: translateY(-7px);
}

.button-1:active {
  transform: translateY(-1px);
}

.button-2 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: rgb(233, 187, 0);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.button-2:hover {
  background-color: rgb(224, 237, 244);
  box-shadow: 0px 15px 20px rgba(233, 187, 0);
  color: black;
  transform: translateY(-7px);
}

.button-2:active {
  transform: translateY(-1px);
}

.button-3 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: rgb(0, 0, 117);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.button-3:hover {
  background-color: rgb(224, 237, 244);
  box-shadow: 0px 15px 20px rgba(0, 0, 117);
  color: black;
  transform: translateY(-7px);
}

.button-3:active {
  transform: translateY(-1px);
}

.button-form-1 {
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: green;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  width: 105px;
}

.button-form-1:hover {
  background-color: rgb(224, 237, 244);
  box-shadow: 0px 15px 20px green;
  color: black;
  transform: translateY(-7px);
}

.button-form-1:active {
  transform: translateY(-1px);
}

.button-form-2 {
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: red;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  width: 105px;
}

.button-form-2:hover {
  background-color: rgb(224, 237, 244);
  box-shadow: 0px 15px 20px red;
  color: black;
  transform: translateY(-7px);
}

.button-form-2:active {
  transform: translateY(-1px);
}

.imagini {
  height: 300px;
  width: 400px;
}

.immagini-progetti {
  width: 100%;
}

.link {
  width: 80%;
}

.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: rgb(0, 0, 117);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 215px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgb(0, 0, 117);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
